/*Heading Colors*/
#Attended{
   color: #7899e1;
}

#Recordings{
    color: #570898;
}

h2{
    color: hsl(273,90,31);
}


/*Form Background Color*/
.form_a{
    background-color: #00f6f055;
}

/*Set left margin for all elems*/
*{
    margin-left: 10px;
}

/*Form drop down coloring*/
select[name="ready"]{
    background-color: #c44411;
}

/*Highlight text boxes*/
p:hover{
    background-color: aqua;
}

/*Adjust spacing for h2, h3 elems*/
h2, h3{
    
}